{% extends 'base.html' %}

{% block content %}
<!--<div  style="height: auto; border-radius: 1rem; margin-left: auto; margin-right: auto;">-->
<!--        <div style="text-align: center; margin-left: auto; margin-right: auto;">-->

<!--            <h1>-->
<!--                {{ target_post.post_title }}-->
<!--            </h1>-->
<!--    &lt;!&ndash;          <p>&ndash;&gt;-->
<!--    &lt;!&ndash;              {{ target_post.post_category }}&ndash;&gt;-->
<!--    &lt;!&ndash;          </p>&ndash;&gt;-->




<!--        </div>-->
<!--</div>-->

<div style="margin-left:2rem; margin-right:2rem;width: 95%;">
    <div style="background-color: gray; display:inline-block; vertical-align: top; width: 20%; text-align: center; padding: 2rem">
        <a href="{% url 'boardapp:list' %}" style="text-decoration: none; color: black">커뮤니티</a>
        <hr style="color: #504DD2">
        <div style="margin-bottom: 1rem"><a href="#" style="text-decoration: none; color: black">공지사항</a></div>
        <div style="margin-bottom: 1rem"><a href="#" style="text-decoration: none; color: black">자유게시판</a></div>
        <div><a href="#" style="text-decoration: none; color: black">질문게시판</a></div>
    </div>

    <div style="display:inline-block; height: auto; width: 75%; border:1px solid #504DD2; padding:.5rem;">
        <div style="height: auto;width: 100%; border-bottom: 1px solid #504DD2">
            <div>
                <h4>{{ target_post.post_title }}</h4>
            </div>
            <div>
                <div style="display: inline-block; width: 49%">
                    <p>작성자: {{ target_post.writer }}</p>
                    <p>작성일시: {{ target_post.post_wdate }}</p>
                </div>
                <div style="display: inline-block; width: 50%; text-align: end">
                    <div style="display: inline-block">
                        <a href="{% url 'postapp:update' pk=target_post.pk %}" style="text-decoration: none">
                        <p style="color: gray">수정하기</p>
                        </a>
                    </div>
                    <div style="display: inline-block">
                        <a href="{% url 'postapp:delete' pk=target_post.pk %}" style="text-decoration: none">
                        <p style="color: gray">삭제하기</p>
                        </a>
                    </div>
                    <div style="display: inline-block">조회수 : {{ target_post.post_viewnum }}</div>
                    <div style="display: inline-block">추천수 : {{ target_post.like_num }}</div>
                </div>
            </div>
        </div>
        <div style="height: auto;width: 100%; border-bottom: 1px solid #504DD2; padding-bottom: 3rem;">
            <img src="{{ target_post.image.url }}" width="10%" height="10%" alt="" style="object-fit: cover;">
            <p>
                {{ target_post.post_content }}
            </p>
        </div>


        <div style="height: auto;width: 100%; padding-bottom: 3rem;">



        {% include 'commentapp/create.html' with post=target_post %}

        {% for comment in target_post.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}
        </div>
    </div>
</div>



{% endblock %}