{% extends 'base.html' %}

{% block content %}
<div  style="height: auto; border-radius: 1rem; margin-left: auto; margin-right: auto;">
        <div style="text-align: center; margin-left: auto; margin-right: auto;">

            <h1>
                {{ target_post.post_title }}
            </h1>
    <!--          <p>-->
    <!--              {{ target_post.post_category }}-->
    <!--          </p>-->
              <img src="{{ target_post.image.url }}" width="10%" height="10%" alt="" style="object-fit: cover;">

            <p>
                {{ target_post.post_content }}
            </p>

            <a href="{% url 'postapp:update' pk=target_post.pk %}">
                <p>update post</p>
            </a>
            <a href="{% url 'postapp:delete' pk=target_post.pk %}">
                <p>delete post</p>
            </a>
        </div>
</div>

{% endblock %}