{% extends 'base.html' %}

{% block content %}
<div>

    <div style="margin:3rem 2rem 1rem 2rem;text-align: left;">
        <p>
            {{ target_category.post_category }}
        </p>
    </div>

    <div style="border-top: 1.2px solid #504DD2;border-bottom: 1.2px solid #504DD2;margin-right: 2rem;margin-left: 2rem; text-align: center;padding:0%">
        <div style="display:inline-block; width: 5%;height: auto">번호</div>
        <div style="display:inline-block; width: 45%;">제목</div>
        <div style="display:inline-block; width: 10%;">글쓴이</div>
        <div style="display:inline-block; width: 20%;">작성일</div>
        <div style="display:inline-block; width: 8%;">조회수</div>
        <div style="display:inline-block; width: 8%;">추천수</div>
    </div>

    {% include 'snippets/list_category.html' with post_list=object_list %}


    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: right">
    <a href="{% url 'postapp:create' %}" class="btn text-white rounded-pill col-2 px-3" style="background-color: #504DD2;">
        Create Post
    </a>
    </div>
</div>


{% endblock %}