{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 5rem; margin-left: 2rem">
    {% if category_list %}
    <div style="text-align: left;margin-left: auto; margin-right: auto;">
    {% for list in category_list %}
        <a href="{% url 'boardapp:detail' pk=list.pk %}" style="text-decoration: none;">
                <div style="display: inline-block">
                    {{ list.post_category }} |
                </div>
        </a>
    {% endfor %}
    </div>
    {% else %}
    <div>
        <h4>게시글이 없습니다.</h4>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: right">
    <a href="{% url 'boardapp:create' %}" class="btn text-white rounded-pill col-2 px-3" style="background-color: #504DD2;">
        Create Category
    </a>
    </div>

<!--    <div style="margin-right: 2rem;margin-left: 2rem; text-align: center;padding:0%">-->
<!--        <hr>-->
<!--        <p>-->
<!--        <div style="display:inline-block; width: 10%;height: auto">번호</div>-->
<!--        <div style="display:inline-block; width: 50%;">제목</div>-->
<!--        <div style="display:inline-block; width: 10%;">글쓴이</div>-->
<!--        <div style="display:inline-block; width: 10%;">작성일</div>-->
<!--        <div style="display:inline-block; width: 8%;">조회수</div>-->
<!--        <div style="display:inline-block; width: 8%;">추천수</div>-->
<!--        </p>-->
<!--        <hr>-->
<!--    </div>-->
<!--    <div style="margin-right: 2rem;margin-left: 2rem; text-align: center;padding:0%">-->
<!--    <p>-->
<!--        <div style="display:inline-block; width: 10%;height: auto">번호</div>-->
<!--        <div style="display:inline-block; width: 50%;">제목</div>-->
<!--        <div style="display:inline-block; width: 10%;">글쓴이</div>-->
<!--        <div style="display:inline-block; width: 10%;">작성일</div>-->
<!--        <div style="display:inline-block; width: 8%;">조회수</div>-->
<!--        <div style="display:inline-block; width: 8%;">추천수</div>-->
<!--        </p>-->
<!--        <hr>-->
<!--    </div>-->


</div>



{% endblock %}
