{% load bootstrap4 %}

{% block content %}
<style>
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
    }
    .w-btn-ccc {
    background-color: #CCCBF2;
    color: black;
    }
</style>

    <div style="text-align: center; max-width: 500px; margin: 0 auto 0 auto;">
        <form action="{% url 'commentapp:create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% if user.is_authenticated %}
            <input type="submit" class="w-btn w-btn-ccc col-4 mt-4" value="확인">
            {% else %}
            <a href="{% url 'mainapp:login' %}?next={{ request.path }}"
               class="w-btn w-btn-ccc col-4 mt-4">
                Login
            </a>
            {% endif %}



            <input type="hidden" name="post_pk" value="{{ post.pk }}">
        </form>
    </div>

{% endblock %}