<style>
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
    }
    .w-btn-ccc {
    color: red;
        background-color: white;
    }
</style>

<div style="text-align: left;">
    <div>
        <strong>
            {{ comment.writer }}
<!--            {{ comment.writer.profile.nickname }}-->
        </strong>
        &nbsp&nbsp&nbsp
        {{ comment.comment_wdate }}
    </div>

    <div style="margin: 1rem 0;">
        {{ comment.comment_content }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align: right;">
        <a href="{% url 'commentapp:delete' pk=comment.pk %}" class="w-btn w-btn-ccc col-1.5 mt-4">
            댓글 삭제
        </a>
    </div>
    {% endif %}


</div>