
<div>
    {% if post_list %}
    <div style="text-align: center;margin-left: 2rem;margin-right: 2rem">
    {% for list in post_list %}
        <div style="border-bottom: 1px solid #504DD2;text-align: center;padding-top: .3rem; padding-bottom: .3rem">
        <div style="display:inline-block; width: 5%;">
            {{ list.post_id }}
        </div>
        <div style="display:inline-block; width: 45%;">
            <a href="{% url 'postapp:detail' pk=list.pk %}" style="text-decoration: none; color: black">
                <div style="margin:0rem;padding: 0rem">
                    {{ list.post_title | truncatechars:15 }}
                </div>
            </a>

        </div>
        <div style="display:inline-block; width: 10%;">
            {{ list.writer }}
        </div>
        <div style="display:inline-block; width: 20%;">
            {{ list.post_wdate }}
        </div>
        <div style="display:inline-block; width: 8%;">
            {{ list.post_viewnum }}
        </div>
        <div style="display:inline-block; width: 8%;">
            {{ list.like_num }}
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <div style="text-align: center;margin-top: 2rem">
        <h4>게시글이 없습니다.</h4>
    </div>
    {% endif %}

<!--    {% include 'snippets/pagination.html' with page_obj=page_obj %}-->

<!--    <div style="text-align: right">-->
<!--    <a href="{% url 'postapp:create' %}" class="btn text-white rounded-pill col-2 px-3" style="background-color: #504DD2;">-->
<!--        Create Post-->
<!--    </a>-->
<!--    </div>-->



</div>


