{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <style>
    .korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
    .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
    }
    .w-btn-ccc {
    background-color: #CCCBF2;
    color: black;
    }
    </style>

    <div style="text-align: center; max-width: 500px; margin: 14% auto; margin-bottom: 18%; ">
      <div class="korean" style="">
          <h4>정말로 계정을 삭제 하시겠습니까 ?</h4>
      </div>
    <form action="{% url 'mainapp:delete' pk=target_user.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" class="w-btn w-btn-ccc col-5 mt-4" value="네. 삭제합니다">
    </form>
    </div>

{% endblock %}