{% extends 'base.html' %}

{% block content %}
<style>
.korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
.div2 {
        text-decoration: none;
        color: black;
    }
.div2 :hover{
        background-color: white;
        transition: .5s;
        color: #504DD2;
        border-radius: 5px;
    }
</style>

<div class="korean" style="height: 40rem; width: 100%; display: flex; justify-content: center; margin-top: 2rem;">
    <div style="height: 95%; width: 80%">
        <div style="padding:1rem; border: 1px solid #504DD2;border-radius: 2rem; display: inline-block;height: 100%; width: 25%; margin-right:.5%;vertical-align: top ">
            <p class="korean" style="text-align: center; margin-top: 17%; font-size: large">내정보<br>
                {% if target_user.profile %} <!-- 프로필 존재할 때 이미지-->
                <img src="{{ target_user.profile.m_emoticon.url }}" alt=""
                     style="height: 12rem; width: 12rem; border-radius: 20rem;
                             border: 3px solid black; margin-top: 20%">
                {% else %} <!-- 프로필 존재하지 않을 때 이미지 없이 빈 동그라미-->
            <div style="text-align: center; margin-top: 20%;">
                <p style="height: 12rem; width: 12rem; border-radius: 20rem; margin: 0 auto;
                             border: 3px solid black;"></p></div>
            {% endif %}
            </p>
            <div style="text-align: center; height: 40%;">
                {% if target_user.profile %}
                <h2 style="font-size: medium">
                    {{ target_user.profile.user }} <!--내 아이디-->
                    ({{ target_user.profile.user_nick }}) <!-- 닉네임 -->
                    <br> mindu6424@naver.com <!--나중에 이메일 db 들어 가야 함 지금은 보이는 것 때문에 임시로 넣어둠--></h2>
                    {% if target_user == user %} <br><br>
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                        style="text-decoration: none;"
                        class="div2">
                        <p>
                            프로필 편집
                        </p>
                    </a>
                    {% endif %}
                </h2>
                {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}"
                    style="text-decoration: none;"
                    class="div2">
                    <p>
                        프로필 생성
                    </p>
                </a>
                {% else %}
                <p style="text-decoration: none;">
                    닉네임 미설정
                </p>
                {% endif %}
                {% endif %}
                {% if target_user == user %}
                <a href="{% url 'mainapp:update' pk=user.pk %}"
                    style="text-decoration: none;"
                    class="div2">
                    <p>
                        개인정보 변경
                    </p>
                </a>
                <a href="{% url 'mainapp:delete' pk=user.pk %}"
                    style="text-decoration: none; color: red;"
                    class="div2">
                    <p>
                        계정 삭제
                    </p>
                </a>
                {% endif %}

            </div>
        </div>
        <div style="display: inline-block; height: 100%; width: 70%;">
            <div style="height: 100%; width: 100%; padding: 1rem">
                <p>나의 게시글</p>
                <div style="display: block;height: 80%; width: 100%">
                    <div style="text-align: center; margin-left: 2rem; margin-right: 2rem">
                        <div style="border-bottom: 2px solid #504DD2; border-top: 2px solid #504DD2;text-align: center;padding-top: .3rem; padding-bottom: .3rem">
                            <div style="display:inline-block; width: 6%;">
                                번호
                            </div>
                            <div style="display:inline-block; width: 18%;">
                                게시판
                            </div>
                            <div style="display:inline-block; width: 35%;">
                                제목
                            </div>
                            <div style="display:inline-block; width: 32%;">
                                날짜
                            </div>
                        </div>
                    {% include 'snippets/mypage_postlist.html' with post_list=object_list %}
                    </div>
                </div>
                {% include 'snippets/pagination.html' with page_obj=page_obj %}
            </div>
        </div>

    </div>
</div>

{% endblock %}