{% extends 'base.html' %}

{% block content %}

    <div>
      <div style="text-align: center; max-width: 300px; margin: 4rem auto;">

      {% if target_user.profile %}
        <img src="{{ target_user.profile.m_emoticon.url }}" alt=""
             style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem;">
        <h2>
            {{ target_user.profile.user_nick }}
            {% if target_user == user %}
            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                edit
            </a>
            {% endif %}
        </h2>
        {% else %}
        {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
            <h2>
              Create Profile
            </h2>
        </a>
      {% else %}
        <h2>
            닉네임 미설정
        </h2>
      {% endif %}
      {% endif %}

        {% if target_user == user %}
        <a href="{% url 'mainapp:update' pk=user.pk %}">
            <p>
                Change Info
            </p>
        </a>
        <a href="{% url 'mainapp:delete' pk=user.pk %}">
            <p>
                Delete Account
            </p>
        </a>
        {% endif %}

      </div>
    </div>

{% endblock %}