{% extends 'base.html' %}

{% block content %}
    <div style="padding:1rem; border: 1px solid #504DD2; float: left; width: 20%; height:290%;
                        border-radius: 2rem; margin: 2% 4% 0 7%">
        <p style="text-align: center; margin-top: 20%; font-weight: bold;">내정보<br>
            {% if target_user.profile %} <!-- 프로필 존재할 때 이미지-->
                <img src="{{ target_user.profile.m_emoticon.url }}" alt=""
                     style="height: 12rem; width: 12rem; border-radius: 20rem;
                             border: 3px solid black; margin-top: 20%">
            {% else %} <!-- 프로필 존재하지 않을 때 이미지 없이 빈 동그라미-->
                <div style="text-align: center; margin-top: 20%;">
                    <p style="height: 12rem; width: 12rem; border-radius: 20rem; margin: 0 auto;
                             border: 3px solid black;"></p></div>
            {% endif %}
        </p>
        <div style="text-align: center; max-width: 300px; margin: 2rem auto;">
            {% if target_user.profile %}
                <h2 style="font-size: medium">
                    {{ target_user.profile.user }} <!--내 아이디-->
                    ({{ target_user.profile.user_nick }}) <!-- 닉네임 -->
                    <br> mindu6424@naver.com <!--나중에 이메일 db 들어 가야 함 지금은 보이는 것 때문에 임시로 넣어둠-->
                    {% if target_user == user %} <br><br>
                        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                            <p>
                                프로필 편집
                            </p>
                        </a>
                    {% endif %}
                </h2>
            {% else %}
                {% if target_user == user %}
                    <a href="{% url 'profileapp:create' %}">
                        <p>
                            프로필 생성
                        </p>
                    </a>
                {% else %}
                    <p>
                        닉네임 미설정
                    </p>
                {% endif %}
            {% endif %}
            {% if target_user == user %}
                <a href="{% url 'mainapp:update' pk=user.pk %}">
                    <p>
                        개인정보 변경
                    </p>
                </a>
                <a href="{% url 'mainapp:delete' pk=user.pk %}">
                    <p>
                        계정 삭제
                    </p>
                </a>
            {% endif %}

        </div>
    </div>
    <div style="height: 36rem; width: 60rem; border-radius: 1rem; margin-top: 4%; margin-left: 30%; background-color: antiquewhite">

    </div>

{% endblock %}