<style>
    .korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
</style>
{% extends 'base.html' %}


{% block content %}
<div style="margin-top: 15rem">
    <div  style="height: 20rem; border-radius: 1rem; margin-left: auto; margin-right: auto;">

        <div style="text-align: center; margin-left: auto; margin-right: auto;">
            <h1>
                <div style="display: inline-block; color: #504DD2; font-family: 'Cabin', sans-serif; font-size: 2rem;">code<span style="color:#14128F">s</span></div>
                <div style="display: inline-block"class="korean">와 함께 하는</div>
            </h1>
            <h1>
                <div style="display: inline-block"class="korean">코드 타자 연습</div>
            </h1>
        </div>
    </div>
</div>

{% endblock %}