{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<style>
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
}
.w-btn-ccc {
    background-color: #CCCBF2;
    color: black;
}
.korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
</style>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto" class="korean">
    <div style="margin-bottom: 7%">
            <h4>회원가입</h4>
        </div>
    <form action="{% url 'mainapp:signup' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="w-btn w-btn-ccc col-10 mt-4" value="회원가입">

    </form>
    </div>

{% endblock %}