{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <style>
    .korean {
        font-family: 'Nanum Gothic Coding', monospace;
    }
    .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
    }
    .w-btn-ccc {
    background-color: #CCCBF2;
    color: black;
    }
</style>

    <div class="korean" style="display: inline-block; width: 1200px; margin-left: 11%; margin-top: 4%"> <!-- 전체 div로 묶기 -->
        <div style="display: inline-block; width: 26%; border: 1px solid #504DD2; border-radius: 2rem;
    height: 600px; vertical-align: top;"><!-- 왼쪽 프로필 div 영역 -->
            <p style="text-align: center; margin-top: 35%; font-weight: bold;">내정보<br>
                {% if target_user.profile %} <!-- 프로필 존재할 때 이미지-->
                    <img src="{{ target_user.profile.m_emoticon.url }}" alt=""
                         style="height: 12rem; width: 12rem; border-radius: 20rem;
                             border: 3px solid black; margin-top: 20%">
                {% endif %}
            </p>
            <div style="text-align: center; max-width: 300px; margin-bottom: 50%">
                {% if target_user.profile %}
                    <h2 style="font-size: medium;">
                    {{ target_user.profile.user }} <!--내 아이디-->
                    ({{ target_user.profile.user_nick }}) <!-- 닉네임 -->
                    <br> mindu6424@naver.com <!--나중에 이메일 db 들어 가야 함 지금은 보이는 것 때문에 임시로 넣어둠-->
                {% endif %}
                </h2>
            </div>
        </div>
        <div style="margin-left: 2%; display: inline-block; text-align: center; width: 846px;;
    border: 1px solid #504DD2; border-radius: 2rem; height: 600px"><!-- 오른쪽 수정 div 영역 -->
            <div style="margin: 3rem 3rem 3rem 3rem">
                <div class="">
                    <h4 style="margin-bottom: 4rem;">개인정보 변경</h4>
                </div>
                <form action="{% url 'mainapp:update' pk=target_user.pk %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <a href="{% url 'mainapp:detail' pk=target_user.pk %}" class="w-btn w-btn-ccc col-3 mt-4" type="submit">취소</a>
                    <input type="submit" class="w-btn w-btn-ccc col-3 mt-4" value="수정">
                </form>
            </div>
        </div>
    </div>

{% endblock %}