{% load static %}
<style>
    .korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
</style>

<footer>

<div style="height: 3rem; border-radius: 1rem; margin: 2rem; text-align: center; font-size: 0.6rem;"class="korean">
    <hr style="background-color: #14128F; opacity: 0.5; margin-top: 3rem;">
    <div>©2022 Codes. All Rights Reserved.</div>
    <div>for for any enquiry or suggestion please contact: codes@codes.com</div>
    <div>Tel.000.0000.0000 | Privacy</div>
</div>

</footer>