{% load static %}
<style>
    .korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }


</style>
<header>
    <div style="height: 2rem; background-color: white; border-radius: 1rem; margin: 2rem; margin-top: 1rem;">
        <div style="display: inline-block; width: 13%">
            <div style="display: inline-block; color: #504DD2; font-family: 'Cabin', sans-serif; font-size: 2rem;">
                <a style="text-decoration: none;" href="{% url 'mainapp:mainpage' %}">
                code<span style="color:#14128F">s</span>
                </a>
            </div>
        </div>
        <div style="display: inline-block; width: 72%; text-align: center"class="korean">
            <div style="display: inline-block; margin-right: 3rem;">
                <a style="text-decoration: none; color: black" href="{% url 'mainapp:mainpage' %}">홈</a>
            </div>
            <span style="display: inline-block; margin-right: 3rem;">
                <a style="text-decoration: none; color: black" href="{% url 'practiceapp:firstpractice' %}">타자연습</a>
            </span>
            <div style="display: inline-block; margin-right: 3rem;">
                <a style="text-decoration: none; color: black" href="{% url 'upracticeapp:ufirstpractice' %}">나의코드</a>
            </div>
            <div style="display: inline-block; margin-right: 3rem;">
                <a style="text-decoration: none; color: black" href="{% url 'boardapp:mainboard' %}">커뮤니티</a>
            </div>
        </div>

        <div style="display: inline-block; width: 13%; text-align: right"class="korean">
            {% if not user.is_authenticated %}
                <a style="text-decoration: none; color: black" href="{% url 'mainapp:login' %}?next={{ request.path }}">
            <div style="display: inline-block">로그인</div>
                </a>
            <strong style="display: inline-block; font-size: 0.8rem; font-family: 'Cabin', sans-serif;">  │  </strong>
                <a style="text-decoration: none; color: black" href="{% url 'mainapp:signup' %}">
            <div style="display: inline-block">회원가입</div>
                </a>
            {% else %}
            <a style="text-decoration: none; color: black" href="{% url 'mainapp:detail' pk=user.pk %}">
                <div style="display: inline-block">마이페이지</div>
            </a>
            <strong style="display: inline-block; font-size: 0.8rem; font-family: 'Cabin', sans-serif;">  │  </strong>
            <a style="text-decoration: none; color: black" href="{% url 'mainapp:logout' %}?next={{ request.path }}">
            <div style="display: inline-block">로그아웃</div>
            </a>
            {% endif %}
        </div>
    </div>

</header>