{% load static %}
<style>
    .korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
</style>
<header>

    <div style="height: 2rem; background-color: white; border-radius: 1rem; margin: 2rem; margin-top: 1rem;">
        <div style="display: inline-block; width: 13%">
            <div style="display: inline-block; color: #504DD2; font-family: 'Cabin', sans-serif; font-size: 2rem;">code<span style="color:#14128F">s</span></div>
        </div>
        <div style="display: inline-block; width: 72%; text-align: center"class="korean">
            <div style="display: inline-block; margin-right: 3rem;">홈</div>
            <div style="display: inline-block; margin-right: 3rem;">타자연습</div>
            <div style="display: inline-block; margin-right: 3rem;">나의코드</div>
            <div style="display: inline-block; margin-right: 3rem;">커뮤니티</div>
        </div>
        <div style="display: inline-block; width: 13%; text-align: right"class="korean">
            <div style="display: inline-block">로그인</div> |
            <div style="display: inline-block">회원가입</div>
        </div>
    </div>

</header>