{% extends 'base.html' %}


{% block content %}
<style>
    input :hover{
        color: azure;
    }
    .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
    }
    .w-btn-ccc {
    background-color: #CCCBF2;
    color: black;
    }
</style>

<div style="height: 40rem; width: 100%;display: flex; justify-content: center; margin-top: 2rem">
    <div style="display:inline-block;height: 7%; width: 4%;margin-top: 1.5rem;text-align: center; padding-top:.5rem">제목</div>
    <div style="display:inline-block;height: 100%; width: 90%;">
        <div style="height: 7%; width: auto; display: block; margin: 1rem;padding-top:.5rem">
            <form action="{% url 'upracticeapp:ufirstpractice' %}" method="get">
                {% csrf_token %}
                <input type="text" name="utitle" placeholder="제목을 입력하세요" maxlength="50"
                       style="height:2.8rem; width:100%;border:1px solid #504DD2;">
                <input type="text" name="ucontent" placeholder="내용을 입력하세요" maxlength="500" style="height:22rem; width:100%;border:1px solid #504DD2;">
                <input type="text" name="uresult" placeholder="설명을 입력하세요" maxlength="300" style="height:8rem; width:100%;border:1px solid #504DD2;">
                <input type="submit" class="w-btn w-btn-ccc col-1.5 mt-4" value="업로드">
            </form>
        </div>
    </div>
</div>
{% endblock %}