{% extends 'base.html' %}


{% block content %}
    <style>
        .korean {
            font-family: 'Nanum Gothic Coding', monospace;
        }

        .w-btn {
            position: relative;
            border: none;
            display: inline-block;
            padding: 8px 30px;
            border-radius: 15px;
            font-family: "paybooc-Light", sans-serif;
            text-decoration: none;
            transition: 0.25s;
        }

        .w-btn-ccc {
            background-color: #CCCBF2;
            color: black;
        }

        #text {
            font-size: 1em;
            font-weight: bold;
            color: #666;
            text-align: center;
        }

        span {
            transition: all 300ms 0s ease;
        }

        .add-green {

            color: black;
            font-weight: 900;
        }

        .add-red {
            color: red;
            font-weight: 900;
        }

        h1 {
            padding-left: 30%;
        }

        #risutart {
            bottom: 700px;
            position: absolute;
            font-weight: 200;
        }

    </style>


    <div style="height: 40rem; width: 100%; display: flex; justify-content: center; margin-top: 2rem">
        <div style="height: 100%; width: 90%;">
            <div style="height: 8%; width: 100%;">
                <div style="display:inline-block; height: 100%; width: auto; padding-top: .5rem;
            padding-left: .5rem; font-size: 20px; margin-bottom: 0;" class="korean">
                    제목: {{ g.upractice_title }}
                </div>
            </div>
            <div>
                <div id="test" style="color: white">{{ g.upractice_content }}</div>
                <div style="height: 10%; width: 100%; text-align: end; font-size: 18px;" class="korean">
                    결과: {{ g.upractice_result }}</div>
                <div style="height: 26rem; width: 100%; border: 1px solid #504DD2; overflow-y: scroll">

                    <div style="margin-top: 7px; margin-left: 10px;" class="korean">
                        <div id="text" style="font-size: 20px; text-align: left;"></div>
                    </div>

                </div>
                <div style="width: 100%; border: 1px solid #504DD2;">
                    <div style="font-size: 20px;" class="korean">
                     <span style="margin-left: 1rem" class="info">
                        <span> Letter score: </span> <span id="score">0</span>
                     </span>
                        <span style="text-align: center; float: right; margin-right: 1rem">
                         <span> Miss score: </span> <span id="miss">0</span>
                     </span>
                        <span style="text-align: center; margin-left: 27rem">
                    <span id="timer"></span>
                    <span id="seikai"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div style="height: 10%; width: 100%; text-align: end">
                <div style="display: inline-block; height: 100%; width: 50%; text-align: end">
                    <input type="button" onclick="location.href=/upractice/"class="w-btn w-btn-ccc col-4 mt-4" value="목록으로">
                </div>
            </div>
        </div>
    </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<link rel="stylesheet" href="@sweetalert2/theme-borderless/borderless.css">

<script type="text/javascript">

    let timer = document.getElementById('timer');
    var TIME = 0;
    const seikai = document.getElementById('seikai');

    const  title = '타자연습을 시작하겠습니까?'
    const text = '확인버튼을 누르면 바로 시작됩니다!'
    const title2 = '상세결과 창을 보시겠습니까?'
    const text2 = '상세결과창을 통해 자세한 정보를 볼 수 있습니다.'

    Swal.fire({
  title: title,
  text: text,
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#504DD2',
  cancelButtonColor: '#14128F',
  confirmButtonText: '확인',
  cancelButtonText: '취소'
}).then((result) => {
  if (!result.isConfirmed) {

      cancel();
  }
  else{
        const countdown = setInterval(function () {
                    timer.textContent = '소요시간：' + ++TIME + '초'
                    if (TIME > 300) finish();
                    if(!state)return;
                    }, 1000);
                function finish() {
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      confirmButtonColor: '#504DD2',
                      confirmButtonText: '확인',
                      text: Math.round(TIME / 60) + '분 경과\n시간초과',
                    })
                    clearInterval(countdown);
                    seikai.textContent = '점수' + score + '점';
                    state = false;
                }
  }
})


   var p = document.getElementById('text');
   const s = document.getElementById('test').innerText;
   var textLists = s;
   var len_textLists = s.length;
    // {##}

    var checkTexts = [];

    function cancel(){
        location.href="{% url 'upracticeapp:mainupractice' pk=request.user.id %}"
    }
    function moveresult(){
        location.href="{% url 'practiceapp:result' %}"
    }
    function resultcancel(){
        location.href="{% url 'practiceapp:second' %}"
    }
    createText();


    function createText() {

        p.textContent = '';

        checkTexts = textLists.split('').map(function(value) {

            const spanchar = document.createElement('spanchar');
            spanchar.textContent = value;
            p.appendChild(spanchar);

            return spanchar;
        });

    }

        const scoreLabel=document.getElementById("score");
        const missLabel=document.getElementById("miss");

        let score = 0;
        let miss = 0;

        let state = true;


        window.addEventListener('keydown', e => {
        state = true;
        if(e.key === checkTexts[0].textContent) {
            if(!state)return;
            console.log("score");
            checkTexts[0].className = 'add-green';

            score++;
            scoreLabel.textContent=score;
            checkTexts.shift();
        }
        else {
            if (!state) return;
            checkTexts[0].className = 'add-red';
            var bool = event.shiftKey;
            if (bool == true) {

            } else if (bool == false) {
                miss++;
                missLabel.textContent = miss;
            }
        }

        if(checkTexts.length  == 0) {
            clearInterval();
            Swal.fire({
                title: title2,
                text: text2,
                icon: 'question',
                iconColor: '#504DD2',
                showCancelButton: true,
                confirmButtonColor: '#504DD2',
                cancelButtonColor: '#14128F',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if (!result.isConfirmed) {
                    Swal.fire({
                          title: '나의코드 연습 다시 하시겠습니까?',
                          showDenyButton: true,
                          showCancelButton: true,
                          confirmButtonText: '네',
                          denyButtonText: `아니오`,
                          cancelButtonText: '아니오',
                          confirmButtonColor: '#504DD2',
                          cancelButtonColor: '#14128F',
                        }).then((result) => {
                          /* Read more about isConfirmed, isDenied below */
                          if (result.isConfirmed) {
                              cancel();
                          } else {
                            home();
                          }
                        })
                }
                else{
                    Swal.fire({
                          title:  '타자연습 상세결과\n' +'\n' + '소요시간: ' + TIME + '초\n' + '맞은 문자 수: ' +
                            score + '개\n' + '틀린 문자 수: ' + miss + '개\n' + '타자속도: ' + Math.round(((score / TIME) * 60)) +
                            '\n정확도: ' + Math.round((((score / (score + miss)) * 100) * 100) / 100.0) + '%',
                          confirmButtonColor: '#504DD2',
                          showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                          },
                          hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                          }
                        })
                        .then((result) => {
                            if (result.isConfirmed){
                                Swal.fire({
                          title: '나의코드연습 다시 하시겠습니까?',
                          showDenyButton: true,
                          showCancelButton: true,
                          confirmButtonText: '네',
                          denyButtonText: `아니오`,
                          cancelButtonText: '아니오',
                          confirmButtonColor: '#504DD2',
                          cancelButtonColor: '#14128F',
                        }).then((result) => {
                          /* Read more about isConfirmed, isDenied below */
                          if (result.isConfirmed) {
                              cancel();
                          } else {
                            home();
                          }
                        })
                            }
                        })
                }
            })




            state = false;
        }

    });
</script>
{% endblock %}