{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div style="display: inline-block; width: 1200px; background-color: white; text-align: center; margin-left: 10rem">  <!-- 전체 div로 묶기 -->
        <div style="display: inline-block; width: 27%; border: 1px solid #504DD2; border-radius: 2rem;
                    height: 600px; background-color: white; vertical-align: top;"><!-- 왼쪽 프로필 div 영역 -->
            <p style="text-align: center; margin-top: 35%; font-weight: bold; ">내정보<br>
                {% if target_profile %}
                <img src="{{ target_profile.m_emoticon.url }}" alt=""
                     style="height: 12rem; width: 12rem; border-radius: 20rem;
                             border: 3px solid black; margin-top: 20%;">
                {% endif %}
            </p>
        <div style="text-align: center; max-width: 300px; margin-bottom: 50%">
                <h2 style="font-size: medium;">
                    {{ target_profile.user }} <!--내 아이디-->
                    ({{ target_profile.user_nick }}) <!-- 닉네임 -->
                    <br> mindu6424@naver.com <!--나중에 이메일 db 들어 가야 함 지금은 보이는 것 때문에 임시로 넣어둠-->
            </h2>
        </div>

        </div>

<div style="margin-left: 2%; display: inline-block; text-align: center; width: 830px; background-color: white;
    border: 1px solid #504DD2; border-radius: 2rem; height: 600px"><!-- 오른쪽 수정 div 영역 -->
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
      <div class="mb-4">
          <h4>Update Profile</h4>
      </div>
    <form action="{% url 'profileapp:update' pk=target_profile.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-4">
    </form>
    </div>
    </div>
    </div>
</div>

{% endblock %}