{% extends 'base.html' %}


{% block content %}
<style>
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
}
.w-btn-ccc {
    background-color: #CCCBF2;
    color: black;
}
</style>


<div style="height: 40rem; width: 100%; display: flex; justify-content: center; margin-top: 2rem">
    <div style="height: 100%; width: 90%;">
        <div style="height: 8%; width: 100%;">
            <div style="display:inline-block; height: 100%; width: auto; padding-top: .5rem;padding-left: .5rem; font-size: 30px">
                {% for l in l %}
                {{ l.language }}
                {% endfor %}
            </div>
        </div>
        {% for p in p %}
        <div>
            <div style="height: 10%; width: 100%; text-align: end; font-size: 30px;">{{ p.code_result }}</div>
            <div style="height: 28rem; width: 100%; border: 1px solid #504DD2; overflow-y: scroll">
                {{ p.code_content }}
            </div>
            <div style="height: 10%; width: 100%;">
                <div style="display: inline-block; height: 100%; width: 49.5%;vertical-align: top">
                    출처 : {{ p.code_source }}
                </div>
                <div style="display: inline-block; height: 100%; width: 50%; text-align: end">
                        <input type="submit" class="w-btn w-btn-ccc col-4 mt-4" value="완료">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}