{% extends 'base.html' %}


{% block content %}
<style>
    .korean{
        font-family: 'Nanum Gothic Coding', monospace;
    }
    .buttonstyle{
        border:none;
        background-color: white;
    }
</style>

    <div  style="height: 28rem; border-radius: 1rem; margin-left: auto; margin-right: auto;">
        <div style="text-align: center; margin-left: auto; margin-right: auto;">
            <h6 style="margin-top: 5rem">
                원하는 프로그래밍 언어로 타자 실력을 향상시키세요.
            </h6>
            <div style="height: 26rem; margin:1rem 5rem 0rem 5rem">
                <div style="height: 13rem;padding:0.5rem">
                    <div style="padding:1rem;border: 1px solid #504DD2; float: left; width: 48%;height: 100%;border-radius: 2rem;margin-right: 4%">
                        <div style="color:#14128F;text-align:left;float: left;width: 50%;height: 100%">
                            <div style="color:#14128F;text-align:left;float: left;width: 50%;height: 100%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="python" value="PYTHON">
                                </form>
                            </div>
                        </div>
                        <div style="color:#14128F;text-align:right;float: left;width: 50%;height: 100%">
                            <div style="width: 100%;height: 75%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="python" value="→">
                                </form>
                            </div>
                            <div style="width: 100%;height: 25%;">
                                <img src="/static/img/python.png" width="25%" height="100%" alt="파이썬">
                            </div>
                        </div>

                    </div>
                    <div style="padding:1rem;border: 1px solid #504DD2; float: left; width: 48%;height: 100%;border-radius: 2rem;">
                        <div style="color:#14128F;text-align:left;float: left;width: 50%;height: 100%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="css" value="CSS">
                                </form>
                            </div>
                        <div style="color:#14128F;text-align:right;float: left;width: 50%;height: 100%">
                            <div style="width: 100%;height: 75%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="css" value="→">
                                </form>
                            </div>
                            <div style="width: 100%;height: 25%;">
                                <img src="/static/img/css.png"width="25%" height="100%" alt="씨에스에스">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 13rem;padding:0.5rem">
                    <div style="padding:1rem;border: 1px solid #504DD2; float: left; width: 48%;height: 100%;border-radius: 2rem;margin-right: 4%">
                        <div style="color:#14128F;text-align:left;float: left;width: 50%;height: 100%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="html" value="HTML">
                                </form>
                            </div>
                        <div style="color:#14128F;text-align:right;float: left;width: 50%;height: 100%">
                            <div style="width: 100%;height: 75%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="html" value="→">
                                </form>
                            </div>
                            <div style="width: 100%;height: 25%;">
                                <img src="/static/img/html.png"width="25%" height="100%" alt="에이치티엠엘">
                            </div>
                        </div>
                    </div>
                    <div style="padding:1rem;border: 1px solid #504DD2; float: left; width: 48%;height: 100%;border-radius: 2rem;">
                        <div style="color:#14128F;text-align:left;float: left;width: 50%;height: 100%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="javascript" value="JAVASCRIPT">
                                </form>
                            </div>
                        <div style="color:#14128F;text-align:right;float: left;width: 50%;height: 100%">
                            <div style="width: 100%;height: 75%">
                                <form action="{% url 'practiceapp:second' %}" method="get">
                                    {% csrf_token %}
                                    <input class="buttonstyle" type="submit" name="javascript" value="→">
                                </form>
                            </div>
                            <div style="width: 100%;height: 25%;">
                                <img src="/static/img/js.png"width="25%" height="100%" alt="자바스크립트">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}